.image-container {
    overflow: hidden; 
    display: inline-block;
    position: relative; /* Necessary for the ::before pseudo-element */
}
.zoom-image {
    transition: transform .7s ease-in-out;
}

