a{
    text-decoration: none;
}

li {
    box-sizing: border-box; 
    border-bottom: 5px solid transparent; 
}

li:hover {
    border-bottom: 5px solid rgb(213, 21, 0);
}
.navbar{
    align-items: none !important;
}

.second-nav {
  transition: opacity 0.5s ease-in-out;
}
